{% extends "base.html" %}

	{% block title %}GUDLFT Registration{% endblock %}

	{% block content %}
	    <h1>Welcome to the GUDLFT Registration Portal!</h1>
	    Please enter your secretary email to continue:
	    <form action="showSummary" method="post">
	        <label for="email">Email:</label>
	        <input type="email" name="email" id=""/>
	        <button type="submit">Enter</button>
	    </form>
		{% with messages = get_flashed_messages()%}
	   	 	{% if messages %}
	        	<ul>
	       			{% for message in messages %}
	            		<li>{{message}}</li>
	        		{% endfor %}
	       		</ul>
	    	{% endif%}
		{%endwith%}
	    <a href="{{ url_for('display_clubs_points') }}">Display clubs list</a>
	{% endblock content %}


